<section class="discount-section">
    <div class="container">
        <h3 class="discount-title">Акції</h3>
        <div class="slider-container">
            <button class="prev-button">
                <img src="/src/images/left-arrow.png" alt="Попереднє">
            </button>
            <div class="slider">
                <img src="/src/images/tariffs.jpg" alt="Фото 1">
                <img src="/src/images/hero_img.jpg" alt "Фото 2">
                <img src="/src/images/tariffs.jpg" alt="Фото 3">
            </div>
            <button class="next-button">
                <img src="/src/images/right-arrow.png" alt="Наступне">
            </button>
        </div>
    </div>
    
</section>

