<section class="drone-section">
    <div class="container">
        <h1 class="drone__title">Пульт управління дроном</span></h1>
        <p class="drone__description">Спробуй себе в ролі оператора дронів</p>
        <div class="drone__item">
            <img class="drone__img" src="/src/images/droneimg_1.jpg" alt="Image 1">
            <img class="drone__img" src="/src/images/droneimg_2.jpg" alt="Image 2">
        </div>
        <div class="drone__item">
            <p class="drone__description-two">Реальний пульт управління та симулятор не залишить вас байдужими</p>
            <img class="drone__img" src="/src/images/droneimg_3.jpg" alt="Image 3">
        </div>
    </div>
</section>