<footer class="footer">
    <div class="container">
    <div class="container__header">
        <a class="link logo logo--padding logo--inverse" href="./index.html">
            <img src="./images/logo.png" alt="Логотип Arena Net-City">
        </a>
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__title" href="#myTariffs">Тарифи</a></li>
            <li class="nav__item"><a class="nav__title" href="#myDiscount">Акції</a></li>
            <li class="nav__item"><a class="nav__title" href="#myGames">Ігри</a></li>
            <li class="nav__item"><a class="nav__title" href="#myLocation">Локація</a></li>
        </ul>
        <a href="#myHeader" class="scroll-button">
            <img width="55" height="55" src="/src/images/up.png" alt="Стрілка вгору">
        </a>
        
        </div>
       <div class="footer-content">
        <p class="footer-title">© Arena Net City</p>
       </div>
    </div>
</footer>