<header id="myHeader" class="header">
    <div class="container">
    <div class="container__header">
        <a class="link logo logo--padding logo--inverse" href="./index.html">
            <img src="./images/logo.png" alt="Логотип Arena Net-City">
        </a>
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__title" href="#myTariffs">Тарифи</a></li>
            <li class="nav__item"><a class="nav__title" href="#myDiscount">Акції</a></li>
            <li class="nav__item"><a class="nav__title" href="#myGames">Ігри</a></li>
            <li class="nav__item"><a class="nav__title" href="#myLocation">Локація</a></li>
        </ul>
        <a href="tel:0936168574">
            <button class="nav__button" type="button">Забронювати</button>
        </a>
        <button class="nav__icon-button open-button" type="button" onclick="openMenu()">
        <svg class="nav__icon" width="30" height="19">
            <use href="./images/symbol-defs.svg#icon-Group-29"></use>
        </svg>
        </button>
        </div>
    </div>
</header>

<script>
        function openMenu() {
                document.getElementById("side-menu").style.left = "0";
                document.querySelector('.overlay-menu').style.display = 'block';
                document.addEventListener('keydown', closeMenuOnEscape);
            }

            function closeMenu() {
                document.getElementById("side-menu").style.left = "-100%";
                document.querySelector('.overlay-menu').style.display = 'none';
                document.removeEventListener('keydown', closeMenuOnEscape);
            }

            function closeMenuOnEscape(event) {
                if (event.key === 'Escape') {
                    closeMenu();
                }
            }

</script>