<header>
<section class="hero-section">
    <div class="container">
        <div class="hero-section__content">
            <svg class="hero-section__icon-hero">
                <use href="./images/symbol-defs.svg#icon-hero"></use>
            </svg>
            <h1 class="hero-section__title">Кіберспортивна арена <span class="hero-section__title-city">Житомира</span></h1>
            <div class="hero-section__location">
                <ul class="hero-section__location-list">
                    <li class="hero-section__location-place">
                        <svg class="hero-section__icon">
                            <use href="./images/symbol-defs.svg#icon-location_small"></use>
                        </svg>
                        <span class="hero-section__text">вулиця Михайлівська 20/20</span>
                    </li>
                    <li class="hero-section__location-place">
                        <svg class="hero-section__icon" width="50" height="50">
                            <use href="./images/symbol-defs.svg#icon-time_small"></use>
                        </svg>
                        <span class="hero-section__text">З 10:00 до 22:00</span>
                    </li>
                </ul>
            </div>
            <a href="https://www.instagram.com/net_city_arena/">
                <button class="hero-section__button" type="button" target="_blank">Забронювати місце</button>
            </a>
            
        </div>
    </div>
</section>
</header>