<div id="myLocation" class="location">
    <div class="container">
        <h3 class="discount-title">Де ми знаходимся?</h3>
        <div class="location-content">
            <div class="location-discription">
                    <span>
                        <svg class="location-icon" width="24" height="33">
                            <use href="/src/images/symbol-defs.svg#icon-location_small"></use>
                        </svg>
                    </span>
                    <p class="location-discription-text">
                        вулиця Михайлівська 20/20
                    </p>
                </div>
                <div class="location-discription">
                    <span>
                        <svg class="location-icon" width="33" height="33">
                            <use href="/src/images/symbol-defs.svg#icon-time_small"></use>
                        </svg>
                    </span>
                    <p class="location-discription-text">
                        з 10:00 до 22:00
                    </p>
                </div>
                <div class="location-discription">
                    <div class="tariffs-button-container">
                        <a href="tel:0936168574">
                          <button class="tariffs-section__button" type="button">+38 (093) 000 13 63</button>
                        </a>
                      </div>
                </div>
            
        </div>
        <div style="box-shadow: 0px 0px 20px #C59B3D; border-radius: 10px; overflow: hidden;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.9022957841366!2d28.6619840765458!3d50.25640907155582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c64968da97d4b%3A0xc6b7c178762fb44!2z0LLRg9C70LjRhtGPINCc0LjRhdCw0LnQu9GW0LLRgdGM0LrQsCwgMjAsINCW0LjRgtC-0LzQuNGALCDQltC40YLQvtC80LjRgNGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCAxMDAwMQ!5e0!3m2!1suk!2sua"
                width="1196" height="385" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="location-content-two">
                <div class="location-discription">
                    <span>
                        <a target="_blank" href="https://www.google.com/maps/dir//%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0,+20,+%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80,+%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0,+10001/@50.256409,28.664559,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x472c64968da97d4b:0xc6b7c178762fb44!2m2!1d28.664559!2d50.2564091?hl=uk-UA&entry=ttu">
                             <img class="location-img" src="/src/images/how.png" alt="Як добратися?">
                        </a>
                    </span>
                    <a target="_blank" href="https://www.google.com/maps/dir//%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D1%96%D0%B2%D1%81%D1%8C%D0%BA%D0%B0,+20,+%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80,+%D0%96%D0%B8%D1%82%D0%BE%D0%BC%D0%B8%D1%80%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0,+10001/@50.256409,28.664559,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x472c64968da97d4b:0xc6b7c178762fb44!2m2!1d28.664559!2d50.2564091?hl=uk-UA&entry=ttu">
                    <p class="location-discription-text">
                        Як добратись?
                    </p>
                </a>
                </div>
                <div class="location-discription-two">
                    <p class="location-discription-text">
                        Слідкуйте за нами в соц. мережах:
                    </p>
                    <a href="https://www.instagram.com/net_city_arena/" target="_blank">
                        <img class="location-img" src="/src/images/instagram.png" alt="Інстаграм">
                    </a>
                    <a href="https://t.me/cybersport_zt" target="_blank">
                        <img class="location-img" src="/src/images/telegram.png" alt="Телеграм">
                    </a>
                </div>
                
        
        </div>
    </div>
</div>
   

