<section id="myDiscount" class="discount-section">
    <div class="container">
        <div class="discount-section-container">
            <h3 class="discount-title">Акції</h3>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: push">
        <ul class="uk-slideshow-items discount-section-item">
            <li class="uk-slidesho-list-item">
                <img src="/src/images/vr-bg.jpg" alt="Слайд-шоу" uk-cover>
            </li>
            <li class="uk-slidesho-list-item">
                <img src="/src/images/tariffs.jpg" alt="Слайд-шоу" uk-cover>
            </li>
            <li class="uk-slidesho-list-item">
                <img src="/src/images/vr-bg.jpg" alt="Слайд-шоу" uk-cover>
            </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous">
        </a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div></section>
    
