<section id="myDiscount" class="discount-section">
    <div class="container">
        <div class="discount-section-container">
            <h3 class="discount-title">Акції</h3>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: push">
        <ul class="uk-slideshow-items discount-section-item">
            <li class="uk-slidesho-list-item">
                <img src="/src/images/vr-bg.jpg" alt="Слайд-шоу" uk-cover>
            </li>
            <li class="uk-slidesho-list-item">
                <img src="/src/images/tariffs.jpg" alt="Слайд-шоу" uk-cover>
            </li>
            <li class="uk-slidesho-list-item">
                <img src="/src/images/vr-bg.jpg" alt="Слайд-шоу" uk-cover>
            </li>
        </ul>
        <a class="uk-position-center-left-out uk-position-small" href="#" uk-slideshow-item="previous">
            <img src="/src/images/Arrow left.png" alt="Стрілка вліво">
        </a>
        <a class="uk-position-center-right-out uk-position-small" href="#" uk-slideshow-item="next">
            <img src="/src/images/Aroow right.png" alt="Стрілка вправо">
        </a>
    </div>
</div></section>
    
