<section class="slider-bg-section">
    <div class="container">
        <div class="uk-position-relative uk-visible-toggle uk-light slider-bg-bg" tabindex="-1" uk-slideshow="animation: slide">
            <ul class="uk-slideshow-items">
                <li>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                        
                    </div>
                    <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                    <div class="uk-position-center uk-position-medium uk-text-center">
                        <div uk-slideshow-parallax="scale: 1,1,0.8">
                            <h4 class="slider-bg-title slider-bg-title" uk-slideshow-parallax="x: 200,0,0">20 ігрових місць</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                        
                    </div>
                    <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                    <div class="uk-position-center uk-position-medium uk-text-center">
                        <div uk-slideshow-parallax="scale: 1,1,0.8">
                            <h4 class="slider-bg-title slider-bg-title" uk-slideshow-parallax="x: 200,0,0">20 ігрових місць</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1">
                       
                    </div>
                    <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                    <div class="uk-position-center uk-position-medium uk-text-center">
                        <div uk-slideshow-parallax="scale: 1,1,0.8">
                            <h4 class="slider-bg-title slider-bg-title" uk-slideshow-parallax="x: 200,0,0">20 ігрових місць</h4>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small " href="#" uk-slideshow-item="previous">
                <img src="/src/images/Arrow left.png" alt="Стрілка вліво">
            </a>
            <a class="uk-position-center-right uk-position-small " href="#" uk-slideshow-item="next">
                <img src="/src/images/Aroow right.png" alt="Стрілка вправо">
                </a>
            </a>
        </div>
    </div>
</section>
    