<div id="myGames" class="tabs-two-section">
    <div class="container">
        <h3 class="tabs-two-title">Доступні ігри</h3>
        <div class="tabs" data-tabs="tab3">
            <ul class="tabs__nav">
              <li class="tabs__nav-item"><button class="tabs__nav-btn tabs__item" type="button">Зона PC</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn tabs__item" type="button">Playstation 5</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn tabs__item" type="button">XBox</button></li>
              <li class="tabs__nav-item"><button class="tabs__nav-btn tabs__item" type="button">VR</button></li>
            </ul>
            <div class="tabs__content">
                <div class="tabs__panel">
                  <div class="image-grid">
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 1">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                </div>
                </div>
              <div class="tabs__panel">
                <div class="image-grid">
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 1">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                </div>
              </div>
              <div class="tabs__panel">
                <div class="image-grid">
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 1">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                </div>
              </div>
              <div class="tabs__panel">
                <div class="image-grid">
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 1">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 2">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                  <div class="image-item">
                    <img src="/src/images/grid-img-one.jpg" alt="Image 15">
                  </div>
                </div>
              </div>
            </div>
            <div class="tariffs-button-container">
              <a href="tel:0936168574">
                <button class="tariffs-section__button" type="button">Забронювати місце</button>
              </a>
            </div>
          </div>
</div>
</div>
    